<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone or ContentManagement or XmCloud">
	  <settings>
		  <setting name="Preview.AsAnonymous" value="false"/>
	  </settings>
	  <pipelines>
      <mvc.actionExecuting >
        <processor type="XmCloudSXAStarter.BypassCorsProcessor, XmCloudSXAStarter" resolve="true" />
      </mvc.actionExecuting>

      <httpRequestBegin>
        <processor type="XmCloudSXAStarter.SwitchHeadlessMode, XmCloudSXAStarter"
                   patch:after="processor[@type='Sitecore.Horizon.Integration.Pipelines.HttpRequest.InitializeHorizon, Sitecore.Horizon.Integration']"
                   resolve="true" />
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>
